@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: "Nunito", sans-serif;
  }

  input:autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-text-fill-color: #d1d5db;
    transition: background-color 86400s ease-in-out 0s;
    box-shadow: none;
  }

  :root {
    color-scheme: dark;
  }
}
